/** main **/

html, body {
    min-height: 100%;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    overflow: auto;
    height: 100%;
}

img {
    border-radius: 10px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .25);
}

/** classes **/

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 1;
}

.navDesign {
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: #ebebeb;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .25);
    z-index: -1;
}

.navbar a {
    float: left;
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-align: center;
    margin: 18px 0 13px 20px;
    padding-bottom: 5px;
    font-size: 22px;
}

.menuIcon {
    float: right;
    margin-top: 18px;
    cursor: pointer;
}

.divMain {
    display: block;
    height: 100%;
    transition: .2s;
}

.divMain:before {
    /** pseudo element to change background image opacity **/
    content: "";
    background: url(images/background.jpg);
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.65;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.card {
    margin: auto;
    width: 100%;
    max-width: 1000px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .25);
}

.tableCard {
    width: 100%;
    max-width: 1000px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .25);
}

.cardHeader {
    font-size: 36px;
    margin: 0;
    text-align: left;
    padding: 10px 0 10px 15px;
}

.cardHeader a {
    text-decoration: none;
    color: black;
}

.cardHeader .fas {
    position: relative;
    top: -1px;
    font-size: 26px;
}

.cardSub {
    font-size: 30px;
    margin: 0;
    text-align: left;
    padding: 10px 0 0 15px;
}

.cardBody {
    font-size: 18px;
    margin: 0 10px 0 10px;
}

.progress {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: grey;
    text-align: center;
    color: black;
    display: table-cell;
}

.tableMain {
    display: grid;
    margin: auto;
}

.tableItem {
    margin: 10px 0px 10px 0px;
}

.tableBox {
    border-style: solid;
    border-radius: 10px;
    border-color: gray;
    border-width: 2px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .25);
}

.pStandard {
    font-size: 18px;
    margin: 0 10px 0 10px;
    text-align: left;
    padding: 10px;
}

ul.pStandard {
    list-style-type: none;
}

.listItem {
    display: inline;
}

.toggle {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.toggle:hover {
    cursor: pointer;
}

.descItem {
    font-size: 16px;
    font-style: italic;
}

.fas {
    display: inline;
    transition: .3s;
}

.dates {
    display: inline-block;
    padding: .25em .4em;
    font-size: small;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: .25rem;
    color: rgb(0, 0, 0);
    background-color: #d6d6d6;
}

.posttype {
    display: inline-block;
    padding: .25em .4em;
    font-size: small;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: .25rem;
    color: rgb(0, 0, 0);
    background-color: #a8ff97;
}

/** ids **/

#logo {
    font-size: 36px;
    margin: 0;
    text-align: left;
    padding: 10px 0 10px 15px;
    transition: .2s;
}

#sideImg {
    position: relative;
    display: inline-block;
}

#pageName {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    text-align: center;
    color: black;
    font-weight: bold;
}

/** responsive **/

@media all and (max-width: 1000px) {
    .divMain {
        padding: 0 10px 5px 10px;
    }
    .navSpacer {
        height: 80px;
    }
    .divider20-10 {
        height: 10px;
    }
    .card, #gallery {
        margin-bottom: 10px;
    }
    .cardBody {
        padding: 0;
    }
    .navbar .responsiveSection a {
        display: none;
    }
    .openNav .responsiveSection a:first-child {
        margin-top: 80px;
    }
    .openNav .responsiveSection a {
        float: none;
        text-align: left;
        display: block;
    }
    .responsiveSection {
        position: absolute;
        width: 35%;
        height: 100vh;
        right: 0px;
        border-radius: 20px;
        box-shadow: 0 0 50px 0 rgba(0, 0, 0, .25);
        padding-right: 100px;
        background: #ededed;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% 0%;
        transform: translate(100%, 0);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    }
    .toggleSection {
        transform: translate(10%, 0);
    }
    .menuIcon span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: #000000;
        border-radius: 3px;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
    }
    .closeIcon:first-child {
        transform: rotate(45deg) translate(1px, -2px);
    }
    .closeIcon:nth-child(2) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }
    .closeIcon:nth-child(3) {
        transform: rotate(-45deg) translate(0, -1px);
    }
    .responsiveSection .active {
        font-weight: bolder;
    }
    .tint {
        opacity: .4;
        filter: blur(3px);
    }
    #pageName {
        font-size: 10vw;
    }
}

@media all and (min-width:1000px) {
    .divMain {
        padding: 0 20px 10px 20px;
    }
    .navSpacer {
        height: 90px;
    }
    .divider20-10 {
        height: 20px;
    }
    .card, #gallery {
        margin-bottom: 20px;
    }
    .cardBody {
        padding: 10px;
    }
    .navbar a {
        background: linear-gradient(to right, #bdbdbd, #bdbdbd);
        background-position: bottom left;
        background-repeat: no-repeat;
        background-size: 0% 3px;
        transition: background-size .25s ease;
    }
    .navbar a:hover {
        background-size: 100% 3px;
    }
    .active {
        /** try to fix by using default cascading than !important **/
        background: linear-gradient(to right, #000000, #000000) !important;
        background-position: bottom left !important;
        background-repeat: no-repeat !important;
        background-size: 100% 3px !important;
    }
    #pageName {
        font-size: 120px;
    }
}