@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    src: url(./fonts/Inter-Regular.woff) format("woff");
  }
  @font-face {
    font-family: "Inter";
    font-weight: 400;
    font-style: italic;
    src: url(./fonts/Inter-Italic.woff) format("woff");
  }
  @font-face {
    font-family: "Inter";
    font-weight: 700;
    font-style: normal;
    src: url(./fonts/Inter-Bold.woff) format("woff");
  }
  @font-face {
    font-family: "Inter";
    font-weight: 700;
    font-style: italic;
    src: url(./fonts/Inter-BoldItalic.woff) format("woff");
  }
  @font-face {
    font-family: "Inter";
    font-weight: 300;
    font-style: normal;
    src: url(./fonts/Inter-Light.woff) format("woff");
  }
  @font-face {
    font-family: "Inter";
    font-weight: 300;
    font-style: italic;
    src: url(./fonts/Inter-LightItalic.woff) format("woff");
  }
}

body {
  padding-left: calc((100vw + 80px) / 21);
  padding-right: calc((100vw + 80px) / 21);
  @apply bg-white font-sans antialiased;
}

.link-internal {
  @apply border-b border-gray-800 text-gray-800 hover:border-gray-600 hover:text-gray-600 transition-colors duration-300;
}
